**HYPOTHESIS:**

Shifts in global population have effects on how individual countries utilize their production of food commodities.

For my final project, I will be using data from the Food and Agriculture Organization of the United Nations that shows patterns of a country's food supply during the period of 1961 - 2013.

This data will help show how (or if) changes in population effect the utilization of a country’s food production and the food production of other counties. 

Some features I will be looking at will be how crops are utilized for livestock, how they are stored and exported. 



**ASSUMPTION:**

A majority of the world's countries are experiencing growth in population that will ultimately exceed their ability to produce enough food commodities.

If this trend is accurate, the difference between an individual country's increase in population and global food supply will have negative effects on it’s own health and economy and the health and economy of countries that rely on food imports. 



**RISKS AND LIMITATIONS:**

The most recent year of data collection is 2013. While the time period for this dataset is a bit over 50 years, recent innovations in food production may not be accounted for.

In [3]:
from pathlib import Path

import pandas as pd
path = Path('assets', 'us_food_blance_sheet.csv')
fbs = pd.read_csv(path)
fbs.head()

,Domain Code,Domain,Country Code,Country,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balance Sheets,231,United States of America,5511,Production,2905,Cereals - Excluding Beer,1961,1961,1000 tonnes,162982,A,"Aggregate, may include official, semi-official..."
1,FBS,Food Balance Sheets,231,United States of America,5511,Production,2905,Cereals - Excluding Beer,1962,1962,1000 tonnes,161619,A,"Aggregate, may include official, semi-official..."
2,FBS,Food Balance Sheets,231,United States of America,5511,Production,2905,Cereals - Excluding Beer,1963,1963,1000 tonnes,173848,A,"Aggregate, may include official, semi-official..."
3,FBS,Food Balance Sheets,231,United States of America,5511,Production,2905,Cereals - Excluding Beer,1964,1964,1000 tonnes,159959,A,"Aggregate, may include official, semi-official..."
4,FBS,Food Balance Sheets,231,United States of America,5511,Production,2905,Cereals - Excluding Beer,1965,1965,1000 tonnes,182639,A,"Aggregate, may include official, semi-official..."